/*https://wallpaperaccess.com/madan-senki-ryukendo*/
body{
    background-image: url("https://wallpaperaccess.com/full/4067023.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    backface-visibility: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#page-wrapper {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.logo {
    width: 60vw;
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

nav {
    font-weight: 400;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}




#aboutme input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#aboutme input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 75px 0;
    border: 0;
    background-color: #f1c40f;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#detail {
    margin-top: 180px;
}

.grid {
    display: flex;
}

#detail .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 145px;
    width: 65vw;
    padding: 5px;
    opacity: 1;
    
}

#detail .desc2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 255px;
    width: 60vw;
    padding: 20px;
    opacity: 1;
    
}

#photos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#photos > iframe {
    max-width: 560px;
    width: 100%;
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}

.know-more{
    margin-top: 40px;;
}

.episode{
    font-family: 'Ubuntu';
    font-weight: 900;
    color: #000;
}
.episode:hover{
    color: blue
}

@media only screen and (max-width: 500px) {
    body{
        background-size: auto;
    }
    #detail .desc{
        width: auto;
        height: auto;
    }
    #detail .desc2{
        width: auto;
        height: auto;
    }


}
